@charset "utf-8";
@import "./global.scss";

#main {

	margin-top: $headerH;
	
	.title {
		padding: 25px 25px;
		font-size: 15px;
		color: #666;
		font-weight: 400;
	}

	.content {	

		.row {
			padding: 15px 35px 15px 25px;
			font-size: 15px;
			border-bottom: 1px solid #f6f6f6;
			background-color: #fff;

			&:last-child {
				border-bottom: 0;
			}

			.key {
				float: left;
				width: 75px;
				color: #333;
			}

			.value {
				margin-left: 75px;
				text-align: right;
				color: #888;
			}

			.value-input {
				float: right;
				width: 70%;
				font-size: 15px;
				font-family: inherit;
				color: #888;
				text-align: right;
				border: 0;
				background-color: transparent;
			}


		}

		.segment {
			height: 25px;
		}

	}

	.photo-container {

		margin-top: 25px;
		background-color: #fff;

		.nophoto {
			display: block;
			padding: 60px 25px;
			text-align: center;

			.icon-add {
				margin-right: 7px;
			}

			.add-text {
				position: relative;
				top: -2px;
				font-size: 15px;
				color: #ccc;
			}
		}

	}

	.scan-container {

		margin-top: 25px;
		background-color: #fff;

		a {
			display: block;
			padding: 20px 25px;
			text-align: center;

			.icon {
				margin-right: 7px;
			}

			.add-text {
				position: relative;
				top: -2px;
				font-size: 15px;
				color: #ccc;
			}
		}

	}



	.photo-list {
		display: none;
		padding-bottom: 10px;

		.photo-items {
			float: left;
		}
		
		.photo-item {
			position: relative;
			float: left;
			margin: 10px 0 0 10px;
			padding: 3px;
			min-height: 100px;
			min-width: 75px;
			border: 1px dashed #ccc;
		}

		img {
			display: block;
			width: 75px;
			height: 100px;
		}

		.icon-delete {
			position: absolute;
			right: -5px;
			top: -5px;

			&:hover {
				opacity: 0.9
			}
		}

		.icon-add {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -15px;
			margin-left: -15px;
			@include bgsize(30px, 30px);
		}

	}

	.open-photo.open {
		position: fixed;
		width: 100%;
		left:0;
		height: auto;
		top: 50%;
		z-index: 100;
		transform: translateY(-50%);
	}


}

#zoom-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;

	.close-pinch {
		display: inline-block;
		position: fixed;
		padding: 5px 20px;
		top: 20px;
		right: 20px;
		font-size: 12px;
		color: #fff;
		background-color: rgba(#000, 0.4);
		border: 1px solid #fff;
		border-radius: 2px;
		z-index: 1001;
	}
}